{% extends 'bootstrap/base.html' %}
<html>
   
    {% block title %}Simply Simple Notes{% endblock %}
    
    {% block content %}
    <body>
        <center>
            <h1>Simply Simple Notes</h1>
            <img src="static/images/gitlab-icon-rgb.png" alt="gitlab_logo" class="img-thumbnail">

            <hr>

            <h4>my notes</h4>

            {% for note in notes %}
            <div><p><b>{{ note }}</b></p></div>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <hr>
            
            <h4>add a new note</h4>
            <form action="" method="post" novalidate>
                {{ add_form.hidden_tag() }}
                <p>
                    {{ add_form.note_field.label }}<br>
                    {{ add_form.note_field(size=32) }}
                </p>
                <p>{{ add_form.add() }}</p>
            </form>

            <hr>

            <h4>delete an old note</h4>
            <form action="" method="post" novalidate>
                {{ delete_form.hidden_tag() }}
                <p>
                    {{ delete_form.id_field.label }}<br>
                    {{ delete_form.id_field(size=2) }}
                </p>
                <p>{{ delete_form.delete() }}</p>
            </form>
        </center>
    </body>
    {% endblock %}
</html>